<!DOCTYPE html>
<html>

<head>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap" rel="stylesheet">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Todo List</title>
    <link href="style.css" rel="stylesheet" type="text/css" />
</head>

<body>

    <div id="nav">
        <div class="header">
            <div class="text">To-do List Webapp</div>
        </div>
    </div>

    <div id="idk">

        <div id="innerText" class="text">Tasks:</div>

        <div id="inputArea">
            <form><input required type="text" id="input"><input type="submit" id="submitButton" onclick="returnTask()"></form>
        </div>

        <div id="listArea">

            <ul id="divArea">





            </ul>



        </div>



    </div>
    <script src="/script.js"></script>
</body>


</html>